{% extends "base.html" %}

{% block content %}

<div class="d-flex justify-content-center h-100 align-items-center p-5" >
    <div class="card text-center p-2" style="min-width: 300px;">
        <div class="card-body align-items-center" >
        <h5 class="mb-5 h6">Para cambiar tu contraseña comunicate conmigo a través de las siguientes vías</h5>

            <div class="pl-5">
            <!-- Links -->
            <a class="text-reset" href="mailto:sergiopetruzzellaperez@gmail.com"><p class=" mb-1">
              <i class="fab fa-google me-3"></i>
              sergiopetruzzellaperez
            </p></a>
            <a class="text-reset" href="https://wa.me/584242641285"><p class=" mb-1"><i class="fab fa-whatsapp me-3"></i> +58 424 2641285</p></a>
            <a class="text-reset" href="https://www.instagram.com/sergiopetruzzella/"><p class=" mb-1"><i class="fab fa-instagram me-3"></i>@sergiopetruzzella</p></a>
          
          </div>


    </div>
    </div>
    </div>
{% endblock %}