{%extends 'base.html' %}
{%block content%}
{% if not request.user.is_authenticated  %}
<div class="d-flex justify-content-center h-100 align-items-center" >
    <div class="card text-center p-4">
        <h2 class="mb-3"> Iniciar Sesion </h2>
    <form action="." method="POST">
        {% csrf_token %}

        <div class="form-outline mb-3">
            <input type="text" id="form2Example1" class="form-control" name="username" required/>
            <label class="form-label" for="form2Example1" ">Nombre de Usuario</label>
          </div>

          <div class="form-outline mb-3">
            <input type="password" id="form2Example2" class="form-control" name="password"/>
            <label class="form-label" for="form2Example2">Clave</label>
          </div> 

          <div class="form-outline mb-3">
            <input type="password" id="form2Example2" class="form-control" name="password2"/>
            <label class="form-label" for="form2Example2">Repetir Clave</label>
          </div> 
        
          <button type="submit" class="btn text-gold bg-red btn-block mb-4">Entrar</button>
    </form>
    {% else %}
    <h3> Usted ya se encuentra registrado</h3>
    <a href="/desk">Iniciar </a>
    {% endif %}

    
    {% if m %}
    <h3 style="color:{{c}}">{{m}}</h3>
    {% endif %}
    {% if c == "green" %}
    <a href="/login">Iniciar sesion</a>
     {% endif %}

     </div>
    </div>

{% endblock %}