{%extends 'base.html' %}
{%block content%}
<div class="container row align-items-center p-3">
    
<h1 class="text-center"> Mi Quiniela</h1>


</div>

{% include "schedule/schedule-window.html" %}
<div class="d-flex justify-content-center flex-wrap"  >
  <a href="/schedule/edit" class="btn bg-red text-gold btn-lg m-2" style="width:280px" >Editar</a>
  <a href="/desk" class="btn bg-red text-gold btn-lg m-2" style="width:280px">Regresar</a>
</div>






<style> 
@media (max-width: 600px) {
    .col-form-label, .form-control {
      font-size: 0.9rem;
    }
}

    @media (max-width: 600px) {
    .col-2, .col-form-label {
      padding: 2px 4px;
    }
}



    @media (max-width: 450px) {
    .col-form-label, .form-control {
      font-size: 0.9rem;
    }
  } </style>
{% endblock %}