{%extends 'base.html' %}
{%block content%}
<div class="container row align-items-center p-3">
    
<h1 class="text-center"> Mi Quiniela</h1>


</div>

{% include "schedule/schedule-window.html" %}
<div class="form-group row pt-3" >
  <div class="col-4" ></div>
  <a href="/schedule/edit" class="btn bg-red text-gold btn-lg col-2 m-2">Editar</a>
  <a href="/desk" class="btn bg-red text-gold btn-lg col-2 m-2">Regresar</a>
  <div class="col-4" ></div>
</div>






<style> 
@media (max-width: 600px) {
    .col-form-label, .form-control {
      font-size: 0.9rem;
    }
}

    @media (max-width: 600px) {
    .col-2, .col-form-label {
      padding: 2px 4px;
    }
}



    @media (max-width: 450px) {
    .col-form-label, .form-control {
      font-size: 0.9rem;
    }
  } </style>
{% endblock %}