{% extends "base.html" %}
{% block  content%}
<div class="container-xl pb-5">

<div class="m-1 mb-5 ">
    <h3> Mis Grupos</h3>
    <hr> 
    <div class="container-xl px-1">
        {%if user_groups %}
        
        <table class="table table-sm table-striped table-bordered">
            <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Grupo</th>
                </tr>
              </thead>
              <tbody>
        {%for x in user_groups%}
        
        <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{x}}</td>           
          </tr>
        {% endfor %}        

    </tbody>
</table>
        {%else%}
        Usted aun no se encuentra en ningun grupo
        {%endif%}
    </div>
    </div>


<div class="m-1 mb-3">
    <h3> Incluirme en un grupo</h3>
    <hr> 
    <div class="container-xl px-1">
        <form class="form-inline" method="POST" action="/group/include/">
            {% csrf_token %}

        <select required class="form-select" aria-label="Default select example" name="group_name">
            <option disabled>Seleccione un grupo</option>
            {% for x in groups %}
            <option value="{{x}}">{{x}}</option>
            {% endfor %}
          </select>
          <div class="d-flex justify-content-end my-3">
            <button style="width:180px" type="submit" class="btn bg-red text-gold my-1">Incluirme</button>
            </div>
        </form>
    </div>
    </div>




<div class="m-1 mb-3">
<h3> Crear Nuevo Grupo </h3>
<hr> 
<div class="container-xl px-1">
<form class="form-inline" method="POST" action="/group/create/">
    {% csrf_token %}

    <label class="m-2" for="group_name">Nombre del grupo</label>
    <input type="text" class="form-control mb-2 mr-sm-2" id="group_name" name="group_name"  placeholder="Introduzca nombre del grupo" required>
      
    <div class="custom-control custom-checkbox m-2 mr-sm-2">
      <input type="checkbox" class="custom-control-input" id="include" name="include">
      <label class="custom-control-label"  for="include">Incluirme en el grupo al crearlo</label>
    </div>
    <div class="d-flex justify-content-end">
    <button type="submit" class="btn bg-red text-gold my-1" style="width:180px">Crear Grupo</button>
    </div>
</form>
</div>
</div>


<div class="m-1 mb-3">
    <h3> Retirarme de un grupo</h3>
    <hr> 
    <div class="container-xl px-1">
        <form class="form-inline" method="POST" action="/group/exclude/">
            {% csrf_token %}

        <select class="form-select" aria-label="Default select example" name="group_name">
            <option disabled>elegir grupo</option>
            {% for x in user_groups %}
            <option value="{{x}}">{{x}}</option>
            {% endfor %}
            
          </select>
          <div class="d-flex justify-content-end my-3">
            <button style="width:180px" type="submit" class="btn bg-red text-gold my-1">Retirarme</button>
            </div>
        </form>
</div>
</div>

<div class="m-1 mb-5 ">
    <h3> Otro Grupos</h3>
    <hr> 
    <div class="container-xl px-1">
        {%if groups %}
        
        <table class="table table-sm table-striped table-bordered">
            <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Grupo</th>
                </tr>
              </thead>
              <tbody>
        {%for x in groups%}
        
        <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{x}}</td>           
          </tr>
        {% endfor %}        

    </tbody>
</table>
{%endif%}
    </div>
</div>
</div>
<style>
    hr {
        margin-top: 0;
    }
</style>
{% endblock %}