{% extends "base.html" %}
{% block content %}
{% if request.user.is_authenticated %}
<H1>Hola {{request.user}}</H1>
{% if matches %}
<p>Solo puedes tener llenar una quiniela, en "sobreescribir quiniela" crearas una desde cero pero se borrara tu quiniela anterior</p>
{% else %}
<p>Ve a crear quiniela para comenzar</p>
{% endif %}

<div class="container-flex mb-5">
{% if matches %}
<a href="/schedule/view" class="btn text-gold bg-red btn-lg mx-4">Ver mi Quiniela</a>
<a href="/schedule/edit" class="btn text-gold bg-red btn-lg mx-4">Editar mi Quiniela</a>
<a href="/schedule/create" class="btn text-gold bg-red btn-lg mx-4">Sobreescribir Quiniela</a>
{% else %}
<a href="/schedule/create" class="btn text-gold bg-red btn-lg mx-4">Crear Quiniela</a>
{% endif %}
</div>

{% if matches %}
<div class="p-3 mt-3">
<h2>Proximos partidos</h2>
<hr class="mb-5">
{% include "schedule/schedule-window.html" %}
<div class="d-flex justify-content-center flex-wrap" >
    <a href="/schedule/edit" class="btn bg-red text-gold btn-lg m-2" style="width:280px">Editar</a>
    <a href="/schedule/view" class="btn bg-red text-gold btn-lg m-2" style="width:280px">Ver todo</a>
  </div>
</div>
{% endif %}


<div class="p-3 mt-3">
  <h2>Grupos</h2>
  <hr class="mb-2">
  <a href="/group/manage" class="btn text-gold bg-red btn-lg m-5">Administrar mis Grupos</a>
  {% for x in user_groups %}     
  <div class="p-3">
    <h4>Tabla del grupo {{x}}</h4>
    <table class="table table-striped table-bordered">
      <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Puntaje</th>
          </tr>
        </thead>
        <tbody>
          {% for y in x.user_set.all|dictsortreversed:"userscore.points" %}
  <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{y}}</td>
      <td>{{y.userscore.points}}</td>
    </tr>
    {%endfor%}
        </tbody>
  </table>
  </div>
  {%endfor%}
</div>



<div class="p-3 mt-3">
<h2> Tabla General</h2>
<hr class="mb-5">
<div class="p-3">
{% include "admin/table.html" with list=list%}
</div>
</div>
{% else %}
<h2>Inicie sesion</h2>
<a href="/login">Iniciar Sesion</a>
{% endif%}
{% endblock %}



