{% extends "base.html" %}
{% block content %}
{% if request.user.is_authenticated %}
<H1>Hola {{request.user}}</H1>
{% if matches %}
<p>Ya no puedes editar tu quiniela de la fase de grupos, en los proximos dias estaremos dando información sobre la quiniela en la fase final</p>
{% else %}
{% endif %}

<div class="container-flex mb-5">
{% if matches %}
<a href="/schedule/group-board" class="btn text-gold bg-red btn-lg mx-4 my-1">Mi pizarra de grupos</a>
<a href="/user/{{request.user.username}}" class="btn text-gold bg-red btn-lg mx-4 my-1">Mi puntuación detallada</a>
<a href="/schedule/view" class="btn text-gold bg-red btn-lg mx-4 my-1">Ver mi Quiniela</a>
{% else %}
<h3>Expiró el plazo para crear tu quiniela para la fase de grupos</h3>
{% endif %}
</div>

{% if matches %}
<div class="p-3 mt-3">
<h2>Proximos partidos</h2>
<hr class="mb-5">
{% include "schedule/schedule-window.html" %}
<div class="d-flex justify-content-center flex-wrap" >
    <a href="/schedule/view" class="btn bg-red text-gold btn-lg m-2" style="width:280px">Ver todo</a>
  </div>
</div>
{% endif %}


<div class="p-3 mt-3">
  <h2>Grupos</h2>
  <hr class="mb-2">
  <a href="/group/manage" class="btn text-gold bg-red btn-lg m-5">Administrar mis Grupos</a>
  
  {% if not user_groups %}
  <p class="m-3">Aún no estás en ningún grupo. Click en “administrar mis grupos” para incluirte en uno</p>
  {%endif%}


  {% for x in user_groups %}     
  <div class="p-1">
    <h4>Tabla del grupo {{x}}</h4>
    <table class="table table-sm table-striped table-bordered">
      <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Puntaje</th>
          </tr>
        </thead>
        <tbody>
          {% for y in x.user_set.all|dictsortreversed:"userscore.points" %}
  <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td><a href="/user/{{y}}" style="color: #1744ad">{{y}}</a></td>
      <td>{{y.userscore.points}}</td>
    </tr>
    {%endfor%}
        </tbody>
  </table>
  </div>
  {%endfor%}
</div>



<div class="p-3 mt-3">
<h2> Tabla General</h2>
<hr class="mb-5">
<div class="p-1">
{% include "admin/table.html" with list=list%}
</div>
</div>
{% else %}
<h2>Inicie sesion</h2>
<a href="/login">Iniciar Sesion</a>
{% endif%}
{% endblock %}



