{% extends "base.html" %}
{% block content %}
{% if request.user.is_authenticated %}
<H1>Hola {{request.user}}</H1>


{% if matches %}
<p style="color: green ;">Fase final llenada correctamente</p>
{% endif %}


<div class="container-flex mb-5">
<a href="/ko/create" class="btn text-gold bg-red btn-lg mx-4 my-1">Crear Fase Final</a>
{% if matches %}
<a href="/schedule/group-board" class="btn text-gold bg-red btn-lg mx-4 my-1">Mi pizarra de grupos</a>
<a href="/user/{{request.user.username}}" class="btn text-gold bg-red btn-lg mx-4 my-1">Mi puntuación detallada</a>
{% else %}
<h3>Expiró el plazo para crear tu quiniela para la fase de grupos</h3>
{% endif %}
</div>
<p>Si creas una nueva fase final se sobrescribirá tu selección anterior</p>
<p style="color: red ;">Evita editar tus selecciones una vez haya empezado la fase final ya que perderías los puntos en los partidos que ya pasaron</p>

{% if matches %}
<p style="color: green ;">Fase final llenada correctamente</p>
<div class="p-3 mt-3">
<h2>Mis Selecciones en fase final</h2>
<hr class="mb-5">
{% include "schedule/schedule-window.html" %}
<div class="d-flex justify-content-center flex-wrap" >
    <a href="/schedule/view" class="btn bg-red text-gold btn-lg m-2" style="width:280px">Ver todo</a>
  </div>
</div>
{% endif %}


<div class="p-3 mt-3">
  <h2>Grupos</h2>
  <hr class="mb-2">
  <a href="/group/manage" class="btn text-gold bg-red btn-lg m-5">Administrar mis Grupos</a>
  
  {% if not user_groups %}
  <p class="m-3">Aún no estás en ningún grupo. Click en “administrar mis grupos” para incluirte en uno</p>
  {%endif%}


  {% for x in user_groups %}     
  <div class="p-1">
    <h4>Tabla del grupo {{x}}</h4>


<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active text-red" id="home-tab{{forloop.counter}}" data-bs-toggle="tab" data-bs-target="#home{{forloop.counter}}" type="button" role="tab" aria-controls="home{{forloop.counter}}" aria-selected="true">Total</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link text-red" id="profile-tab{{forloop.counter}}" data-bs-toggle="tab" data-bs-target="#profile{{forloop.counter}}" type="button" role="tab" aria-controls="profile{{forloop.counter}}" aria-selected="false">Fase Final</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link text-red" id="contact-tab{{forloop.counter}}" data-bs-toggle="tab" data-bs-target="#contact{{forloop.counter}}" type="button" role="tab" aria-controls="contact{{forloop.counter}}" aria-selected="false">Grupos</button>
  </li>
</ul>
<div class="tab-content" id="myTabContent{{forloop.counter}}">
  <div class="tab-pane fade show active" id="home{{forloop.counter}}" role="tabpanel" aria-labelledby="home-tab{{forloop.counter}}">

    <table class="table table-sm table-striped table-bordered">
      <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Puntaje</th>
          </tr>
        </thead>
        <tbody>
          {% for y in x.user_set.all|dictsortreversed:"userscore.points" %}
  <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td><a href="/user/{{y}}" style="color: #1744ad">{{y}}</a></td>
      <td>{{y.userscore.points}}</td>
    </tr>
    {%endfor%}
        </tbody>
  </table>

</div>
<div class="tab-pane fade" id="profile{{forloop.counter}}" role="tabpanel" aria-labelledby="profile-tab{{forloop.counter}}">

  <table class="table table-sm table-striped table-bordered">
    <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Puntaje</th>
        </tr>
      </thead>
      <tbody>
        {% for y in x.user_set.all|dictsortreversed:"userscore.points_ko" %}
<tr>
    <th scope="row">{{forloop.counter}}</th>
    <td><a href="/user/{{y}}" style="color: #1744ad">{{y}}</a></td>
    <td>{{y.userscore.points_ko}}</td>
  </tr>
  {%endfor%}
      </tbody>
</table>
</div>
<div class="tab-pane fade" id="contact{{forloop.counter}}" role="tabpanel" aria-labelledby="contact-tab{{forloop.counter}}">

  <table class="table table-sm table-striped table-bordered">
    <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Puntaje</th>
        </tr>
      </thead>
      <tbody>
        {% for y in x.user_set.all|dictsortreversed:"userscore.points_fg" %}
<tr>
    <th scope="row">{{forloop.counter}}</th>
    <td><a href="/user/{{y}}" style="color: #1744ad">{{y}}</a></td>
    <td>{{y.userscore.points_fg}}</td>
  </tr>
  {%endfor%}
      </tbody>
</table>

</div>


  </div>
  {%endfor%}
</div>



<div class="p-1 mt-3">
<h2> Tabla General</h2>
<hr class="mb-5">
<div class="">
{% include "admin/table.html" with list=list%}
</div>
</div>
{% else %}
<h2>Inicie sesion</h2>
<a href="/login">Iniciar Sesion</a>
{% endif%}
{% endblock %}



