{%extends 'base-home.html' %}
{%block content%}
<div class="d-flex justify-content-center h-100 align-items-center" >
<div class="card text-center p-4">
    <div class="card-body align-items-center" >
    <h5 class="card-title">QUINIELA</h5>
{% if request.user.is_authenticated %}
    <p class="card-text">el usuario esta registrado</p>
    <a class="btn text-gold bg-red" href="/desk">Iniciar</a>
{% else %}
    <p class="card-text"> el usuario NO esta registarado</p>
    <a href="/login" class="btn text-gold bg-red">iniciar sesion</a>
    <a href="/register" class="btn text-gold bg-red">crear cuenta</a>   
   
{% endif %}
</div>
</div>
</div>


{% endblock %}
https://assets.khelnow.com/news/uploads/2022/08/fifa-world-cup-22.jpg


