{%extends 'base-home.html' %}
{%block content%}
<div class="d-flex justify-content-center h-100 align-items-center" >
<div class="card text-center p-2" style="min-width: 300px;">
    <div class="card-body align-items-center" >
    <h5 class="card-title mb-4">QUINIELA</h5>
{% if request.user.is_authenticated %}
    <p class="card-text my-4">Bienvenido {{request.user}}</p>
    <a class="btn text-gold bg-red w-100" href="/desk">Entrar</a>
{% else %}
<form action="/login/" method="POST">
    {% csrf_token %}
<!-- Email input -->
<div class="form-outline mb-3">
<input type="text" id="form2Example1" class="form-control" name="username" required/>
<label class="form-label" for="form2Example1" >Nombre de Usuario</label>
</div>

<!-- Password input -->
<div class="form-outline mb-3">
<input type="password" id="form2Example2" class="form-control" name="password"/>
<label class="form-label" for="form2Example2">Clave</label>
</div> 
<!-- Submit button -->
<button type="submit" class="btn text-gold bg-red btn-block w-100 mb-4">Entrar</button>

<!-- Register buttons -->
<div class="text-center">
<p>No estas registrado? <a href="../register">Resgistrarse</a></p>
</div>
</form>
   
{% endif %}
</div>
</div>
</div>


{% endblock %}
https://assets.khelnow.com/news/uploads/2022/08/fifa-world-cup-22.jpg


