{% extends "base.html" %}
{% block content %}
<a href="/desk" class="btn btn-lg bg-red text-gold m-4"><i class="fa fa-arrow-left"></i> Regresar al Escritorio</a>
<div class="ms-3">
    <H2>Reglas</H2>
    <ul>
       <li>Cada usuario puede llenar solo una quiniela</li>
       <li>Puedes editar tu quiniela hasta antes de empezar el mundial</li>
       <li>Las quinielas son privadas, nadie puede ver tus selecciones hasta comenzar el evento</li>
       <li>Una vez comience el mundial las quinielas pasarán a ser públicas, todos podrán ver tus selecciones</li>
    </ul>
    <hr>
    <h3>Puntuación</h3>
    <div class="ms-3">
    <h5>Cada partido</h5>
    <div class="ms-2">
    <ul>
       <li>4 puntos por acertar el ganador (o empate) </li>
       <li>1 punto por comodín</li>
       <p><small>*El comodín se activa cuando, el ganador (o empate) que predijiste no se dio por un gol</small></p>
    </ul>
    <h6>Puntos extras</h6>
    <ul>
       <li>1 punto por acertar la cantidad de goles del equipo local</li>
       <li>1 punto por acertar la cantidad de goles del equipo visitante</li>
       <li>1 punto por acertar la diferencia de goles</li>
    </ul>
    <h5>Puntos al finalizar la fase de grupos</h5>
    <ul>
        <li>8 puntos por acertar un equipo clasificado en la posición correcta</li>
        <li>4 puntos por acertar un equipo clasificado en la posición incorrecta</li>
    </ul>
    </div>
    
   
    </div>
    <h2>Fase final</h2>
    <H3>Reglas</H3>
    <ul>
       <li>Los usuarios que creen su quiniela después de empezar la fase final no podrán sumar puntos en los partidos que ya fueron disputados</li>
       <li>Solo puedes hacer una selección en fase final, si envías una nueva se borrara la anterior</li>
       <li>Las quinielas son privadas, nadie puede ver tus selecciones hasta comenzar el evento</li>
       <li>Si cambias tu quiniela una vez comenzada la fase final perderás todos los puntos ganados hasta el momento, sin posibilidad de sumar puntos en los partidos que ya fueron disputados</li>
    </ul>


    <h3>Puntuación</h3>
    <div class="ms-3">
    <h5>Octavos de final</h5>
    <div class="ms-2">
   <h6>Partido (90 o 120 minutos)</h6>
    <ul>
       <li>4 puntos por acertar el resultado (ganador o empate)</li>
       <li>1 punto por acertar la cantidad de goles del equipo local</li>
       <li>1 punto por acertar la cantidad de goles del equipo visitante</li>
       <li>1 punto por acertar la diferencia de goles</li>
     </ul>
    <h6>Clasificado</h6>
    <ul>
       <li>3 puntos extras por acertar el clasificado a cuartos(90, 120 o penales)</li>
    </ul>
    </div>

    <h5>Cuartos, Semis y Final</h5>
    <div class="ms-2">
   <h6>Partido (90 o 120 minutos)</h6>
   <p class="mb-0">* Si juegan los dos equipos que predijiste</p>
    <ul>
       <li>6 puntos por acertar el resultado (ganador o empate)</li>
       <li>2 puntos por acertar la cantidad de goles del equipo local</li>
       <li>2 puntos por acertar la cantidad de goles del equipo visitante</li>
       <li>2 puntos por acertar la diferencia de goles</li>
     </ul>
     <p class="mb-0">* Si juega solo un equipo que predijiste</p>
     <ul>
        <li>3 puntos por acertar el resultado (ganador o empate)</li>
        <li>2 puntos por acertar la cantidad de goles del equipo que predijiste</li>
        <li>2 puntos por acertar la diferencia de goles</li>
      </ul>
      <p class="mb-0">* Si no juega ningun equipo que predijiste</p>
     <ul>
        <li>1 puntos por acertar el resultado (ganador o empate)</li>
        <li>1 punto por acertar la diferencia de goles</li>
      </ul>

    <h6>Clasificado (90, 120 o penales)</h6>
    <ul>
       <li>Cuartos (acertar clasificado a semis) : 6 Puntos  </li>
       <li>Semis (acertar clasificado a la final): 10 Puntos </li>
       <li>3er puesto (acertar tercer puesto)    : 6 Puntos  </li>
       <li>Final (acertar campeon)               : 16 Puntos </li>

    </ul>
   
    </div>







    
   
    </div>



    </div>

{% endblock %}